h1{
    color: $color-main-dark;
 }

.container{
    max-width: $main-width;
    width: 100%;
    margin: 0 auto;
}

article{
    background-color: $color-main;
}

*{
    margin:0 ;
    padding: 0 ;
    box-sizing: border-box
}