.twoboxes{
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}

.threeboxes{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
} 

.box-two{ 
    float: left;
    height: 300px;
    margin-right: 20px;
    width: calc(50% - 10px);
    border: 1px solid #000000;
}

.box-two:last-child { 
    margin-right: 0px;    
}

.box-three{
    height: 120px;
    width: calc(100%/3 - 40px/3);
    float: left;
    border: 1px solid #000000;
    margin-right: 20px;
}

.box-three:last-child{
    margin-right: 0px;
}