h1{
   color: black;
}

*{
    margin:0 ;
    padding: 0 ;
    box-sizing: border-box
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    max-width:1024px;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: gray; 
    border: 1px solid #000000;  
}
  
.twoboxes{
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}

.box-two{ 
    float: left;
    height: 300px;
    margin-right: 20px;
    width: calc(50% - 10px);
    border: 1px solid #000000;
}

.box-two:last-child { 
    margin-right: 0px;    
}

.threeboxes{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
} 

.box-three{
    height: 120px;
    width: calc(100%/3 - 40px/3);
    float: left;
    border: 1px solid #000000;
    margin-right: 20px;
}

.box-three:last-child{
    margin-right: 0px;
}

article{
    background-color: gray;
}

.bottom{
    height: 200px;
    margin-top: 20px;
    width: 100%;
    background-color: gray;
    position: relative;
    border: 1px solid #000000; 
} 

.bottom article{
    width:150px;
    height:150px;
    background-color: gray;
    border: 1px solid #000000;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

 @media(max-width:500px){
    .box-two, .box-three{
        float: none;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
    }
    .threeboxes, .bottom{
        margin-top: 0px;
    }
 }
  